services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  historico-service:
    build: ./historico-service
    container_name: historico-service
    ports:
      - "8081:8081"
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SERVER_PORT=8081

  wallet-service:
    build: ./wallet
    container_name: wallet-service
    ports:
      - "8080:8080"
    depends_on:
      rabbitmq:
        condition: service_healthy
      historico-service:
        condition: service_started
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - HISTORICO_SERVICE_URL=http://historico-service:8081