# -------------------
# 1. RabbitMQ
# -------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
      - name: rabbitmq
        image: rabbitmq:3-management
        ports:
        - containerPort: 5672
        - containerPort: 15672
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-service
spec:
  selector:
    app: rabbitmq
  ports:
    - name: amqp
      protocol: TCP
      port: 5672
      targetPort: 5672
    - name: management
      protocol: TCP
      port: 15672
      targetPort: 15672
  type: LoadBalancer

---
# -------------------
# 2. Historico Service (Agora com MongoDB)
# -------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: historico-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: historico-service
  template:
    metadata:
      labels:
        app: historico-service
    spec:
      containers:
      - name: historico-service
        # Nome exato da sua imagem local
        image: projetodeblocoengenhariadesoftwaresescalaveis-historico-service:latest
        imagePullPolicy: Never 
        ports:
        - containerPort: 8081
        env:
        - name: SPRING_RABBITMQ_HOST
          value: "rabbitmq-service"
        - name: SERVER_PORT
          value: "8081"
        # Garantia extra de conexao com o Mongo
        - name: SPRING_DATA_MONGODB_URI
          value: "mongodb://mongodb:27017/historico-db"
---
apiVersion: v1
kind: Service
metadata:
  name: historico-service
spec:
  selector:
    app: historico-service
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
  type: LoadBalancer

---
# -------------------
# 3. Wallet Service
# -------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wallet-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wallet-service
  template:
    metadata:
      labels:
        app: wallet-service
    spec:
      containers:
      - name: wallet-service
        # Nome exato da sua imagem local
        image: projetodeblocoengenhariadesoftwaresescalaveis-wallet-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_RABBITMQ_HOST
          value: "rabbitmq-service"
        - name: HISTORICO_SERVICE_URL
          value: "http://historico-service:8081"
---
apiVersion: v1
kind: Service
metadata:
  name: wallet-service
spec:
  selector:
    app: wallet-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: LoadBalancer

---
# -------------------
# 4. MongoDB (NOVO - Camada de Dados NoSQL)
# -------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: mongo:6.0
        ports:
        - containerPort: 27017
---
apiVersion: v1
kind: Service
metadata:
  name: mongodb
spec:
  selector:
    app: mongodb
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
  type: ClusterIP # Banco de dados interno, nao precisa de LoadBalancer externo

# -------------------
  # 5. API Gateway (Porteiro / Load Balancer)
# -------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      containers:
      - name: gateway-service
        # Nome da imagem que acabamos de criar
        image: projetodeblocoengenhariadesoftwaresescalaveis-gateway-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8082
        env:
        - name: SERVER_PORT
          value: "8082"
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  selector:
    app: gateway-service
  ports:
    - protocol: TCP
      port: 8082
      targetPort: 8082
  type: LoadBalancer